<h1>Editar Sa Action Item</h1>
<%= render 'form', sa_action_item: @sa_action_item %>
<%= link_to '', sa_action_items_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @sa_action_item, class: "btn btn-sm btn-info " %> 

