<h1>Editar Person</h1>
<%= render 'form', person: @person %>
<%= link_to '', people_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @person, class: "btn btn-sm btn-info " %> 

