<h1>Editar Topic</h1>
<%= render 'form', topic: @topic %>
<%= link_to '', topics_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @topic, class: "btn btn-sm btn-info " %> 

