<h1>Editar Document Status</h1>
<%= render 'form', document_status: @document_status %>
<%= link_to '', document_statuses_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @document_status, class: "btn btn-sm btn-info " %> 

