<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @document_status.name %>
</p>


<%= link_to '', document_statuses_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Edit', edit_document_status_path(@document_status), class: "btn btn-sm btn-warning " %> 
