<h1>Welcome to the Start</h1>


<!--
<style>
div .col {border-style: dotted;}
</style>
-->


<div class="row">
  <div class="col col-xs-12 col-sm-3 col-md-3">
    <ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Home<span class="badge">4</span></a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
  </div>
  
  <div class="col col-xs-12 col-sm-9 col-md-6">
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% Complete</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete (danger)</span>
  </div>
</div>


  </div>


  <div class="clearfix visible-xs-block"></div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col col-xs-12 col-sm-3 col-md-3">
    <ul class="list-group">

   <% @rutas.each do |una_ruta| %>
    <li class="list-group-item"><a href="<%= una_ruta %>"><%= una_ruta %></a></li>
   <% end %>    
</ul>

  </div>
</div>
<!--
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    All Routes
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <li><a href ="rails/info/routes">Detailed Routes</a></li>  
   <% @rutas.each do |una_ruta| %>
    <li><a href="<%= una_ruta %>"><%= una_ruta %></a></li>
   <% end %>
  </ul>
</div>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Home<span class="badge">4</span></a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio<span class="badge">4</span></li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

-->