<h1>Editar Person Type</h1>
<%= render 'form', person_type: @person_type %>
<%= link_to '', person_types_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @person_type, class: "btn btn-sm btn-info " %> 

