<h1>Editar Project</h1>
<%= render 'form', project: @project %>
<%= link_to '', projects_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @project, class: "btn btn-sm btn-info " %> 

