<h1>Editar Sa Action Type</h1>
<%= render 'form', sa_action_type: @sa_action_type %>
<%= link_to '', sa_action_types_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @sa_action_type, class: "btn btn-sm btn-info " %> 

