<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @sa_action_status.name %>
</p>


<%= link_to '', sa_action_statuses_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Edit', edit_sa_action_status_path(@sa_action_status), class: "btn btn-sm btn-warning " %> 
